import request from "@/utils/request";

const BASE_URL = "/api/v1/${moduleName}/${businessName}";

const ${className}API = {

    /**
     * 获取${functionName}分页数据
     */
    getPage(queryParams: PageQuery) {
        return request<any, PageResult<${className}VO[]>>({
            url: `${BASE_URL}/page`,
            method: "get",
            params: queryParams,
        });
    },

    /**
     * 获取${functionName}数据
     *
     * @param id ${functionName}ID
     * @returns ${functionName}表单数据
     */
    getFormData(id: number) {
        return request<any, ${className}Form>({
            url: `${BASE_URL}/${id}`,
            method: "get",
        });
    },

    /**
     * 新增${functionName}数据
     *
     * @param data ${functionName}表单数据
     * @returns 请求结果
     */
    add(data: ${className}Form) {
        return request({
            url: `${BASE_URL}/add`,
            method: "post",
            data: data,
        });
    },

    /**
     * 修改${functionName}数据
     *
     * @param data ${functionName}表单数据
     * @returns 请求结果
     */
    update(data: ${className}Form) {
        return request({
            url: `${BASE_URL}/update`,
            method: "put",
            data: data,
        });
    },

    /**
     * 删除${functionName}数据
     *
     * @param ids ${functionName}ID，多个以英文逗号(,)分隔
     * @returns 请求结果
     */
    deleteByIds(ids: string) {
        return request({
            url: `${BASE_URL}/delete/${ids}`,
            method: "delete",
        });
    }
}

export default ${className}API;

/**
 *  ${className}VO类型
 */
export interface ${className}VO {
#foreach($fieldConfig in $fieldConfigs)
#if($fieldConfig.list)
#if(${fieldConfig.javaType.toLowerCase()} == "long" || ${fieldConfig.javaType.toLowerCase()} == "integer" ||
        ${fieldConfig.javaType.toLowerCase()} == "short" || ${fieldConfig.javaType.toLowerCase()} == "double" ||
        ${fieldConfig.javaType.toLowerCase()} == "bigdecimal")
  ${fieldConfig.javaField}?: number; // ${fieldConfig.columnComment}
#elseif(${fieldConfig.javaType.toLowerCase()} == "date" || ${fieldConfig.javaType.toLowerCase()} == "localdate"
    || ${fieldConfig.javaType.toLowerCase()} == "localdatetime")
  ${fieldConfig.javaField}?: Date; // ${fieldConfig.columnComment}
#else
  ${fieldConfig.javaField}?: ${fieldConfig.javaType.toLowerCase()}; // ${fieldConfig.columnComment}
#end
#end
#end
}

/**
 *  ${className}From表单
 */
export interface ${className}Form {
#foreach($fieldConfig in $fieldConfigs)
#if($fieldConfig.edit == "1")
#if(${fieldConfig.javaType.toLowerCase()} == "long" || ${fieldConfig.javaType.toLowerCase()} == "integer" ||
    ${fieldConfig.javaType.toLowerCase()} == "short" || ${fieldConfig.javaType.toLowerCase()} == "double" ||
    ${fieldConfig.javaType.toLowerCase()} == "bigdecimal")
  ${fieldConfig.javaField}?: number; // ${fieldConfig.columnComment}
#elseif(${fieldConfig.javaType.toLowerCase()} == "date" || ${fieldConfig.javaType.toLowerCase()} == "localdate"
|| ${fieldConfig.javaType.toLowerCase()} == "localdatetime")
  ${fieldConfig.javaField}?: Date; // ${fieldConfig.columnComment}
#else
  ${fieldConfig.javaField}?: ${fieldConfig.javaType.toLowerCase()}; // ${fieldConfig.columnComment}
#end
#end
#end
}