<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wick.boot.module.okx.copy.trading.mapper.PublicLedTradingMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
     -->
    <resultMap type="com.wick.boot.module.okx.copy.trading.model.entity.PublicLedTrading" id="PublicLedTradingResult">
        <result property="id" column="id"/>
        <result property="aum" column="aum"/>
        <result property="copyState" column="copy_state"/>
        <result property="maxCopyTraderNum" column="max_copy_trader_num"/>
        <result property="copyTraderNum" column="copy_trader_num"/>
        <result property="accCopyTraderNum" column="acc_copy_trader_num"/>
        <result property="portLink" column="port_link"/>
        <result property="nickName" column="nick_name"/>
        <result property="ccy" column="ccy"/>
        <result property="uniqueCode" column="unique_code"/>
        <result property="winRatio" column="win_ratio"/>
        <result property="leadDays" column="lead_days"/>
        <result property="traderInsts" column="trader_insts"/>
        <result property="pnl" column="pnl"/>
        <result property="pnlRatio" column="pnl_ratio"/>
        <result property="pnlRatios" column="pnl_ratios"/>
    </resultMap>

    <delete id="deleteAll">
        TRUNCATE TABLE okx_copy_trading_public_led
    </delete>

    <select id="getPublicLedTradingPage" resultMap="PublicLedTradingResult">
        SELECT
            id,
            aum,
            copy_state,
            max_copy_trader_num,
            copy_trader_num,
            acc_copy_trader_num,
            port_link,
            nick_name,
            ccy,
            unique_code,
            win_ratio,
            lead_days,
            trader_insts,
            pnl,
            pnl_ratio,
            pnl_ratios
        FROM okx_copy_trading_public_led
    </select>

</mapper>