package ${packageName}.model.${packageVOName}.dto;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;

#if(${hasLocalDateTime})
import com.fasterxml.jackson.annotation.JsonFormat;
import java.time.LocalDateTime;
#end
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

import java.io.Serializable;

/**
 * $!{functionName}-DTO
 *
 * @author ${author}
 * @date ${date}
 */
@Getter
@Setter
@ApiModel(value = "${className}DTO对象", description = "$!{functionName}视图DTO")
public class ${className}DTO implements Serializable {

    private static final long serialVersionUID = 1L;

#if($fieldConfigs)
 #foreach($fieldConfig in ${fieldConfigs})
  #if($fieldConfig.list)
    @ApiModelProperty(value = "$fieldConfig.columnComment")
    #if(${fieldConfig.javaType.toLowerCase()} == "localdatetime")
    @JsonFormat(shape = JsonFormat.Shape.STRING, pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
    #end
    private ${fieldConfig.javaType} ${fieldConfig.javaField};

  #end
 #end
#end
}


