<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wick.boot.module.tools.mapper.ToolCodeGenTableMapper">

    <!-- 分页查询数据表信息 -->
    <select id="selectDataSourcePage" resultType="com.wick.boot.module.tools.model.entity.ToolCodeGenTable">
        SELECT table_name, table_comment, create_time, update_time FROM information_schema.tables
        WHERE table_schema = (select database())
        AND table_name NOT LIKE 'tool_code_%'
        AND table_name NOT LIKE 'flyway_%'
        AND table_name NOT IN (select table_name from tool_code_gen_table)
        <if test="queryVO.tableName != null and queryVO.tableName != ''">
            AND lower(table_name) LIKE lower(concat('%', #{queryVO.tableName}, '%'))
        </if>
        <if test="queryVO.tableComment != null and queryVO.tableComment != ''">
            AND lower(table_comment) LIKE lower(concat('%', #{queryVO.tableComment}, '%'))
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="selectByTableNames" resultType="com.wick.boot.module.tools.model.dto.table.ToolCodeGenTableDTO">
        SELECT table_name, table_comment, create_time, update_time FROM information_schema.tables
        WHERE table_schema = (select database())
        AND table_name NOT LIKE 'tool_code_%'
        AND table_name NOT LIKE 'flyway_%'
        <if test="tableNames != null and tableNames.size() > 0">
            AND `table_name` IN
            <foreach collection="tableNames" item="tableName" open="(" close=")" separator=",">
                #{tableName}
            </foreach>
        </if>
    </select>

</mapper>