-- 菜单 SQL
INSERT INTO `system_menu`(`parent_id`, `type`, `name`, `route_name`, `route_path`, `component`, `perm`, `icon`, `sort`, `visible`, `redirect`, `tree_path`, `always_show`, `keep_alive`, `deleted`, `create_time`, `update_time`, `create_by`, `update_by`)
VALUES ('${parentMenuId}', 2, '${functionName}', '', '/system', 'Layout', NULL, 'system', 1, 1, '/system/user', '0', NULL, NULL, b'0', sysdate(), sysdate(), '2', '2');


-- 按钮父菜单ID
SELECT @parentId := LAST_INSERT_ID();

-- 按钮 SQL
INSERT INTO `system_menu`(`parent_id`, `type`, `name`,               `route_name`, `route_path`, `component`, `perm`,                    `icon`, `sort`, `visible`, `redirect`, `tree_path`, `always_show`, `keep_alive`, `deleted`, `create_time`, `update_time`, `create_by`, `update_by`)
VALUES                   ('@parentId',  4,     '${functionName}新增', '',           NULL,         NULL,        '${permissionPrefix}:add', 'NULL,   1,      1,        NULL,       '0',         NULL,          NULL,         b'0',      sysdate(),     sysdate(),     '2',         '2');

INSERT INTO `system_menu`(`parent_id`, `type`, `name`,               `route_name`, `route_path`, `component`, `perm`,                    `icon`, `sort`, `visible`, `redirect`, `tree_path`, `always_show`, `keep_alive`, `deleted`, `create_time`, `update_time`, `create_by`, `update_by`)
VALUES                   ('@parentId',  4,     '${functionName}修改', '',           NULL,         NULL,        '${permissionPrefix}:update', 'NULL,   2,      1,        NULL,       '0',         NULL,          NULL,         b'0',      sysdate(),     sysdate(),     '2',         '2');

INSERT INTO `system_menu`(`parent_id`, `type`, `name`,               `route_name`, `route_path`, `component`, `perm`,                    `icon`, `sort`, `visible`, `redirect`, `tree_path`, `always_show`, `keep_alive`, `deleted`, `create_time`, `update_time`, `create_by`, `update_by`)
VALUES                   ('@parentId',  4,     '${functionName}删除', '',           NULL,         NULL,        '${permissionPrefix}:delete', 'NULL,   2,      1,        NULL,       '0',         NULL,          NULL,         b'0',      sysdate(),     sysdate(),     '2',         '2');