package ${packageName}.model.entity;

import com.baomidou.mybatisplus.annotation.TableName;
import com.wick.boot.common.core.model.entity.BaseDO;
#if(${hasLocalDateTime})
import java.time.LocalDateTime;
#end

/**
 * $!{functionName}实体
 *
 * @author ${author}
 * @date ${date}
 */
@Getter
@Setter
@TableName("${tableName}")
public class ${className} extends BaseDO {

    private static final long serialVersionUID=1L;

#foreach($fieldConfig in ${fieldConfigs})
  #if(!$baseEntity.contains($fieldConfig.javaField))
    #if("$!fieldConfig.columnComment" != "")
    /**
     * ${fieldConfig.columnComment}
     */
    #end
    private ${fieldConfig.javaType} ${fieldConfig.javaField};

  #end
#end
}