<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wick.boot.module.system.mapper.ISystemRoleMenuMapper">

    <!-- 权限和拥有权限的角色集合的Map -->
    <resultMap id="rolesPermMap" type="com.wick.boot.module.system.model.dto.SystemRolePermsDTO">
        <result property="roleCode" column="role_code"/>
        <collection property="perms" ofType="string" javaType="java.util.Set">
            <result column="perm"/>
        </collection>
    </resultMap>

    <select id="selectRolePermsList" parameterType="java.util.Set" resultMap="rolesPermMap">
        SELECT
        t2.`code` AS role_code,
        t3.perm
        FROM
        `system_role_menu` t1
        INNER JOIN system_role t2 ON t1.role_id = t2.id AND t2.deleted = 0 AND t2.`status` = 1
        INNER JOIN system_menu t3 ON t1.menu_id = t3.id
        WHERE type = 4
        <if test="roleCodes != null and roleCodes.size() > 0">
            AND t2.`code` IN
            <foreach item="roleCode" collection="roleCodes" open="(" separator="," close=")">
                #{roleCode}
            </foreach>
        </if>
    </select>

    <delete id="deleteRolePermsByRoleIds" parameterType="java.util.List">
        DELETE FROM `system_role_menu` WHERE role_id IN
        <foreach item="roleId" collection="roleIds" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <delete id="deleteRolePermsByMenuIds" parameterType="java.util.List">
        DELETE FROM `system_role_menu` WHERE menu_id IN
        <foreach item="menuId" collection="menuIds" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </delete>

</mapper>
