<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wick.boot.module.system.mapper.SystemDictDataMapper">

    <!-- 根据字典编码获取字典数据列表 -->
    <select id="getDictDataList" resultType="com.wick.boot.module.system.model.dto.dictdata.SystemDictOptionsDTO$DictData">
        SELECT
            value,
            label,
            tag_type
        FROM
            system_dict_data
        WHERE
            deleted = 0 AND status = 1 AND dict_code = #{dictCode}
        ORDER BY
            sort ASC
    </select>

</mapper>