<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wick.boot.module.system.mapper.SystemLoginLogMapper">

    <resultMap id="resultVisitDTO" type="com.wick.boot.module.system.model.dto.dashboard.SystemDashboardVisitDTO">
        <result property="todayUvCount" column="today_uv_count"/>
        <result property="totalUvCount" column="total_uv_count"/>
        <result property="yesterdayUvCount" column="yesterday_uv_count"/>
        <result property="todayPvCount" column="today_pv_count"/>
        <result property="totalPvCount" column="total_pv_count"/>
        <result property="yesterdayPvCount" column="yesterday_pv_count"/>
    </resultMap>

    <!-- 查询浏览量 -->
    <select id="selectVisitStats" resultMap="resultVisitDTO">
        SELECT
            -- 1. 查询今日访问量
            SUM(CASE WHEN DATE (create_time) = CURDATE() THEN 1 ELSE 0 END)                  AS today_uv_count,
            -- 2. 查询总访问量
            COUNT(*)                                                                         AS total_uv_count,
            -- 3. 查询昨日访问量（用于计算增长率）
            SUM(CASE WHEN DATE (create_time) = CURDATE() - INTERVAL 1 DAY THEN 1 ELSE 0 END) AS yesterday_uv_count,
            -- 4. 统计今日的独立访客数量
            COUNT(DISTINCT CASE WHEN DATE (create_time) = CURDATE() THEN user_ip END) AS today_pv_count,
            -- 5. 统计总的独立访客数量
            COUNT(DISTINCT user_ip)                                                   AS total_pv_count,
            -- 6. 统计昨日的独立访客数量（用于计算增长率）
            COUNT(DISTINCT CASE WHEN DATE (create_time) = CURDATE() - INTERVAL 1 DAY THEN user_ip END)  AS yesterday_pv_count
        FROM system_login_log;
    </select>

    <!-- 查询访问趋势 -->
    <resultMap id="visitTrendResultMap" type="com.wick.boot.module.system.model.dto.dashboard.SystemDashboardVisitTrendDTO">
        <id column="date" property="date"/>
        <result column="pv" property="pv"/>
        <result column="uv" property="uv"/>
    </resultMap>

    <select id="selectVisitTrend" resultMap="visitTrendResultMap">
        SELECT
            -- 1. 日期列表
            DATE_FORMAT(create_time, '%Y-%m-%d')   AS `date`,
            -- 2. 统计每日的PV（页面访问量）
            COUNT(1)                               AS pv,
            -- 3. 统计每日的UV（独立访客数）
            COUNT(DISTINCT user_ip)                AS uv
        FROM system_login_log
        WHERE create_time BETWEEN concat(#{startDate}, ' 00:00:00') AND concat(#{endDate}, ' 23:59:59')
        GROUP BY DATE_FORMAT(create_time, '%Y-%m-%d');
    </select>

</mapper>