package ${packageName}.service;

import ${packageName}.mapper.${className}Mapper;
import ${packageName}.model.entity.${className};
import ${packageName}.model.vo.${businessName}.${className}AddVO;
import ${packageName}.model.vo.${businessName}.${className}UpdateVO;

import javax.annotation.Resource;
import java.util.List;

/**
 * $!{functionName}管理-防腐层
 *
 * @author ${author}
 * @date ${date}
 */
public abstract class ${className}AbstractService {

    @Resource
    private ${className}Mapper ${lowerClassName}Mapper;

    /**
     * 校验新增参数
     *
     * @param reqVO 新增参数
     */
    protected void validateAddParams(${className}AddVO reqVO) {

    }

    /**
     * 校验更新参数
     *
     * @param reqVO 新增参数
     */
    protected void validateUpdateParams(${className}UpdateVO reqVO) {

    }

    /**
     * 校验删除参数
     *
     * @param ${lowerClassName}List 新增参数
     * @param ids                   主键集合
     */
    protected void validateDeleteParams(List<${className}> ${lowerClassName}List, List<Long> ids) {

    }

}